* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: bisque;
    font-family: Chalkboard, sans-serif;
}

.whole{
    width: 400px;
    height: fit-content;
    background: white;
    padding: 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

