.test {
    background-color: #017BFE;

}
.map-spacing {
    padding: 5px;
}
.c{
    color: white;
}
.weather {
    justify-content: space-evenly;
    text-align: center;
}

/*.coordinates {*/
/*    background: rgba(0, 0, 0, 0.5);*/
/*    color: #fff;*/
/*    position: absolute;*/
/*    bottom: 40px;*/
/*    left: 10px;*/
/*    padding: 5px 10px;*/
/*    margin: 0;*/
/*    font-size: 11px;*/
/*    line-height: 18px;*/
/*    border-radius: 3px;*/
/*    display: none;*/
/*}*/

.geocoder {
    padding-top: 5px;
    padding-left: 5px;
}

#map {
    margin-top: 10px;
}